.userForm {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 2s;
}

.userInput {
  width: 300px;
  font-size: 50px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #666;
}
.userInput:hover, .userInput:focus {
  outline: none;
}

.userBtn {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 50px;
  background-color: #FA6900;
  border: none;
  box-sizing: border-box;
  padding: 5px 20px;
  color: #666;
  cursor: pointer;
}
.userBtn:hover, .userBtn:focus {
  box-shadow: inset 0 0 10px #000;
  outline: none;
}

