.card {
  display: inline-block;
  width: 24%;
  height: 150px;
  overflow: hidden;
  background-color: #fff;
  transition: all 2s;
  padding: 10px;
  margin: 6px;
  box-sizing: border-box;
  cursor: pointer;

  flex: 0 0 auto;
  -webkit-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
}

.cardLabel {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-weight: bold;
}

.cardText {
  display: inline-block;
  width: 70%;
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardData {
  display: block;
  padding: 3px;
}