.header {
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FA6900;
  box-shadow: 0px 0px 10px #000;
}

.projectTitle {
  font-size: 30px;
  margin: 13px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}